
<h1>Produtos</h1>
<a [routerLink]="'/create-produto'" class="btn btn-sm btn-success mb-2">Adicionar produto</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Nome</th>
            <th style="width: 30%">Unidade</th>
            <th style="width: 20%">Custo</th>
            <th style="width: 10%">Quantidade</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.cost }}</td>
            <td>{{ product.count }}</td>
            <td style="white-space: nowrap">
                <a [routerLink]="['/edit-produto', product.productId]" class="btn btn-sm btn-primary mr-1">Editar</a>
                <button  class="btn btn-sm btn-danger btn-delete-product" [disabled]="isDeleting">
                    <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span (click)="this.deleteProduct(product.productId)" *ngIf="!isDeleting">Excluir</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!products">
            <td colspan="5" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>