<div class="container-fluid">
  <div class="row">
    <header class="col-md-12 bg-dark text-white">
      <h1 class="text-center">LOJA</h1>
    </header>
  </div>
  <div class="row vh-100 overflow-hidden">
    <nav class="col-md-2 bg-secondary d-flex flex-column border-end border-4">
      <ul class="nav flex-column pt-3  text-light">
        <li class="nav-item" [routerLink]="'/fornecedores'"><a class="nav-link">FORNECEDORES</a></li>
        <li class="nav-item" [routerLink]="'/clientes'"><a class="nav-link">CLIENTES</a></li>
        <li class="nav-item" [routerLink]="'/produtos'"><a class="nav-link">PRODUTOS</a></li>
      </ul>
      <div class="mt-auto"></div>
    </nav>

    <main class="col-md-10 bg-white">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>
