<div>
    <h1>Editar Fornecedor</h1>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="fornecedor.name" name="nome" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="fornecedor.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" [(ngModel)]="fornecedor.phone" name="telefone" required>
      </div>
      <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" id="cnpj" [(ngModel)]="fornecedor.cnpj" name="cnpj" required>
      </div>
      <div class="form-group">
        <label for="brandId">ID da Marca</label>
        <input type="number" class="form-control" id="brandId" [(ngModel)]="fornecedor.brandId" name="brandId" required>
      </div>
      <button (click)="updateFornecedor()" type="submit" class="btn btn-primary">Atualizar</button>
    </form>
  </div>
  