<h1>Adicionar Cliente</h1>
<form >
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" [(ngModel)]="novoCliente.name" name="nome" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="novoCliente.email" name="email" required>
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" class="form-control" id="telefone" [(ngModel)]="novoCliente.phone" name="telefone" required>
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input type="text" class="form-control" id="cpf" [(ngModel)]="novoCliente.cpf" name="cpf" required>
  </div>
  <div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input type="text" class="form-control" id="cnpj" [(ngModel)]="novoCliente.cnpj" name="cnpj" required>
  </div>
  <button (click)="addCliente()" type="submit" class="btn btn-primary">Adicionar</button>
</form>
